body { color: #222; background: #f4f4f4; font: 500 18px sans-serif; margin: 0px; }
a { color: #222; }
a:hover { text-decoration: underline; }
ul, li { list-style: none; padding: 0px; margin: 0px; }
*:focus { outline: none; }
h2: { text-align: left; }

input {
    padding: 8px; margin-right: 10px;
    border-radius: 5px; border: 1px solid #ddd; outline: none;
}

button {
    padding: 10px; border-radius: 5px; border: 1px solid #ddd;
    background: transparent; color: #888; cursor: pointer;
}
button:hover { color: #222; }

